.deps/
.dirstamp
*.o
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/build
/install-sh
/missing
/stamp-h?
/build-aux
